* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    
}

body {
    background: #0d1b2a;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
    
}

/* Navbar */
.navbar {
  background: #0d1b2a;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 5%;
    border-bottom: 1px solid white;
    height: 100px;
}

.logo {
  display: flex;
  align-items: center;   /* vertically center image & text */
  font-size: 26px;       /* adjust text size */
  font-weight: bold;     /* make text bold */
  color: #ffffff;        /* text color */
}

.logo img {
  width: 90px;   /* equal size */
  height: 40px;  /* equal size */
  object-fit: contain; /* keeps image ratio */
}

.logo img{
  height: 90px;
}
.nav-links {
    display: flex;
    list-style: none;
    
}

.nav-links li {
    margin-left: 25px;
   
}

.nav-links a {
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    font-size: 1.2rem;
}


.nav-links a:hover {
    color: #1f78ff;
    
}
.btn {
  
    background: #1f78ff;
    padding: 6px 9px;
    border-radius: 8px;
    color: white;
}
.nav-links .btn:hover {
  color: white !important; 
  background: #1055c9; 
  border: 1px solid white;
}

.social-icons {
  display: flex;
  gap: 8px; 
  justify-content: center;
  align-items: center; 
}

.social-icons a {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.social-icons .icon {
  width: 30px;   
  height: 30px;  
  object-fit: contain; 
  transition: transform 0.5s ease;
}

/* Optional: hover effect */
.social-icons .icon:hover {
  transform: scale(1.2);
}



.menu-toggle {
    display: none;
    color: white;
    font-size: 22px;
}

/* Hero Section */
.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 5%;
    flex-wrap: wrap;
}

.hero-content {
    max-width: 518px;
    text-align: justify;
}

.hero-content .tag {
    background: #112a46;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 14px;
}

.hero-content h1 {
    font-size: 40px;
    margin: 15px 0;
    display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px;
  font-size: clamp(24px, 5vw, 48px);
}

.zohaib {
  white-space: nowrap;
  color: #7097d0;
}



.hero-content h2 {
    font-size: 28px;
    color: #1f78ff;
    margin-bottom: 15px;
}

.hero-content .highlight {
    border-right: 3px solid white;
    animation: blink 0.8s infinite;
}

@keyframes blink {
    50% { border-color: transparent; }
}

.hero-content p {
    color: #b5c7d3;
    margin-bottom: 20px;
}

.buttons {
    display: flex;
    align-items: center;
}

.btn-primary {
    background: #1f78ff;
    padding: 10px 20px;
    border-radius: 25px;
    text-decoration: none;
    color: white;
    font-weight: 500;
    margin-right: 15px;
}

.social-icons a {
    color: white;
    margin-left: 10px;
    font-size: 18px;
    
}
.hero-image{
  width: 50%;
}
.hero-image img {
    max-width: 100%; 
    transform: scale(1.20);
  
  display: block;
  margin: 0 auto;  
  height: 503px;
  object-fit: cover;  /* fills box, crops extra */
  border-radius: 10px;
  
 
      margin-top: -39px;
  z-index: -1;     /* push it behind everything */
  opacity: 0.7; 
}

/* Responsive */
@media (max-width: 1024px) {
    
    

    
    .hero-image img {
      display: none;
    }
}


@media (max-width: 768px) {
    .nav-links {
        display: none;
        flex-direction: column;
        background: #d1d7dd;
        color: #080f2c;
        position: absolute;
        top: 60px;
        right: 5%;
        width: 200px;
        padding: 20px;
        line-height: 43px;
        
    }

    .nav-links.active {
        display: flex;
    }
.nav-links a {
    
    font-weight: 300;
    color: #080f2c;
}
    .menu-toggle {
        display: block;
    }

    .hero {
        flex-direction: column-reverse;
        text-align: center;
        
    }

    .hero-content {
        max-width: 100%;
        text-align: left;
    }
    
    .hero-content h2 {
    font-size: 18px; 
    
}
.hero-content p{
    font-size: 10px;
    
    
}
    .hero-image img {
      display: none;
    }
}


    body, html {
      height: 100%;
      width: 100%;
    }

    .about-container {
      display: flex;
      height: 80vh; /* Full screen height */
      width: 100%;
    }

    /* Left side */
    .about-left {
      flex: 1;
      background: #fff;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
      padding: 20px;
    }

    .about-left img {
      width: 100%;
      max-width: 309px;
      
      margin-bottom: 15px;
    }

    .about-left h2 {
      font-size: 29px;
      font-weight: 700;
      color: black;
    }

    .about-left p {
      font-size: 16px;
      color: #555;
    }

    /* Right side */
    .about-right {
      flex: 1;
      background: #0f2b46;
      color: #fff;
      padding: 60px;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    .about-right h3 {
      font-size: 39px;
      font-weight: 700;
      margin-bottom: 20px;
    }

    .about-right p {
      font-size: 16px;
      line-height: 1.7;
      margin-bottom: 30px;
      text-align: justify;  
      text-justify: inter-word;
    }

    .about-right a {
      display: inline-block;
      background: #1976f3;
      color: #fff;
      text-decoration: none;
      padding: 12px 25px;
      border-radius: 6px;
      font-weight: 600;
      transition: all 0.3s;
      width: fit-content;
      
    }

    .about-right a:hover {
      background: #5898e0;
      border: 1px solid rgb(255, 255, 255);
      font-weight: 700;
      color: rgb(13, 15, 148);
    }
.about-right button{
  color: white;
  font-weight: bold;
  border: none;
  background-color: transparent;
}
    /* Responsive */
    @media (max-width: 480px) {
      .about-container {
        flex-direction: column;
        height: auto;
        
      }
      .about-left, .about-right {
        flex: none;
        width: 100%;
        padding: 40px 20px;
      }
      .about-right {
        text-align: center;
      }
      .about-right p {
      font-size: 12px;
      line-height: 1.7;
      margin-bottom: 30px;
      text-align: justify;  
      text-justify: inter-word;
    }
    .hero-content p {
    color: #b5c7d3;
    margin-bottom: 20px;
    padding: 10px;
    margin-left: -10px;
    text-align: justify;
}

      .about-right a {
        margin: 0 auto;
      }
    }

    

    /* Education Section */
.education {
  background: #0d1b2a; /* keep or change */
  color: white;
  padding: 40px 20px;
}

.education-container {
  display: flex;
  justify-content: center;  /* Horizontal center */
  align-items: center; 
  gap: 40px;
  width: 100%;
  margin: 0 auto;
  max-width: 1200px;
}

/* Left side text */
.education-text {
  flex: 1;
}

.education-text h1 {
  font-size: 3rem;
  margin-bottom: 30px;
  text-align: center;
  background: #377dd8;
  box-shadow: 1px 2px 5px #eef0f4;
}

.edu-item {
  background: rgba(255,255,255,0.05);
  padding: 20px;
  margin-bottom: 30px;
  border: 1px solid white;
  border-bottom: 8px solid white;
  width: 100%;
  
  background: linear-gradient(to bottom,  #0d1b2a, rgb(20, 50, 89), #102133);
}
.edu-item:hover{
box-shadow:  1px 1px 5px rgb(160, 205, 228);
}
.edu-item h2 {
  font-size: 1.6rem;
  margin-bottom: 5px;
  
}

.edu-item h3 {
  line-height: 44px;
  font-size: 1rem;
  font-weight: normal;
  margin-bottom: 10px;
  opacity: 0.9;
}

.edu-item p {
  font-size: 1rem;
  line-height: 1.5;
  text-align: justify;
  
}

/* Right side image */
.education-image {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.education-image img {
  
  max-width: 350px;
  
  

}

/* ---------------- RESPONSIVE ---------------- */
@media (max-width: 1024px) {
  .education-container {
    flex-direction: column;
    text-align: center;
    margin-top: 50px;
  }

  .education-text h1 {
    font-size: 2rem;
    text-align: center;
  }

  .edu-item {
    margin-bottom: 15px;
    
  }

  .education-image img {
    display: none;
  }
}

@media (max-width: 768px) {
  .education-container {
    flex-direction: column;
    text-align: center;
    margin-top: 50px;
  }
  .education-text h1 {
    font-size: 1.6rem;
  }
.edu-item {
    margin-bottom: 15px;
    
  }
  .edu-item h2 {
    font-size: 1rem;
  }

  .edu-item h3 {
    font-size: 0.9rem;
  }

  .edu-item p {
    font-size: 0.85rem;
  }

  .education-image img {
    display: none;
  }
}

@media (max-width: 480px) {
  .education-container {
    gap: 20px;
    
    flex-direction: column;
    text-align: center;
    margin-top: 20px;
  
  }
.edu-item {
    margin-bottom: 15px;
    
  }
  .education-text h1 {
    font-size: 1.3rem;
  }

  .edu-item h2 {
    font-size: 0.85rem;
  }

  .edu-item h3 {
    font-size: 0.7rem;
  }

  .edu-item p {
    font-size: 0.7rem;
  }

  .education-image img {
    display: none;
  }
}

/* skills container */
/* Basic Styling */
/* Basic Styling */
.skills-container {
  width: 100%;
  padding: 40px 20px;
  background: #0f2b46;
  color: #ffffff;
  height: 700px;
}

.skills {
  background-color: #fff;
}

.skills h2 {
  font-size: 3rem;
  text-align: center;
  margin-bottom: 30px;
  margin-top: 20px;
}

.skills-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  
  margin-top: -25px;
}

.skills-left{
  flex: 1;
  padding-left: 90px;
}
 .skills-right {
  flex: 1;
  padding: 40px;
  
}


.skills-left h3 {
  margin-top: 10px;
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.skill-bar {
  margin-bottom: 20px;
  text-align: left;
}

.skill-bar p {
  margin: 0 0 5px;
  font-weight: 500;
  line-height: 1.6;
  display: flex;
  justify-content: space-between;
}

.bar {
  background: rgba(191, 191, 196, 0.2);
  height: 20px; /* Height of the bar (rectangular shape) */
  overflow: hidden;
  border: 1px solid rgb(239, 239, 241);
  border-radius: 0px; /* Remove rounded corners */
  width: 80%;
  
}

.progress {
  background: #4fc3f7;
  height: 20px;
  width: 0;  /* Start empty */
  transition: width 2s ease-in-out;
}


/* Right Column: Tools and Languages */
.skills-right h3 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.skills-right {
  display: flex;
  flex-direction: column;
}

.tools, .languages {
  margin-bottom: 20px;
  margin-top: 120px;
}

.tools h3, .languages h3 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.tools ul, .languages ul {
  list-style-type: none;
  padding-left: 0;
}

.tools li, .languages li {
  font-size: 1rem;
  margin-bottom: 10px;
}

/* Responsive Design */
@media (max-width: 1024px) {
  .skills-content {
    flex-direction: column;
    align-items: center;
    height: 750px;
  }

  .skills-left, .skills-right {
    width: 50%;
    padding: 20px;
  }

  .skills-right {
    margin-top: 20px;
  }

  .skill-bar p {
    font-size: 0.9rem;
  }
}

@media (max-width: 768px) {
  .skills-content {
    flex-direction: column;
    align-items: center;
  }

  .skills-left, .skills-right {
    width: 100%;
    padding: 20px;
  }

  .skills-right {
   display: none;
  }

  .skill-bar p {
    font-size: 1rem;
  }
}
@media (max-width: 480px) {
  .skills-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-left: -10px;
  
}

  .skills-left, .skills-right {
    width: 100%;
    padding: 20px;
  }

  .skills-right {
    display: none;
  }
.bar {
  
  width: 100%;
  
}
  .skill-bar p {
    font-size: 1rem;
  }
}


/* ================= Services ================= */
.services-container {
  max-width: 1100px;
  margin: auto;
  padding: 40px 20px;
  color: #fff;
  text-align: center;
  

}

.services {
  background: #0d1b2a; /* Blue shade */
}

.services h2 {
  font-size: 2.5rem;
  margin-bottom: 5px;
}

.services p {
  margin-bottom: 40px;
  opacity: 0.9;
}

.service-boxes {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.service {
  background: rgb(206, 221, 238);
  padding: 2px 20px;
  border-radius: 12px;
  width: 300px;
  box-shadow: 0 4px 8px rgba(119, 132, 149, 0.651);
  transition: transform 0.3s ease;
  
}

.service:hover {
  transform: translateY(-8px);
}

.service h3 {
  margin-bottom: 15px;
  font-size: 1.3rem;
  margin-top: 30px;
  color: #041931;
}
.service p {
  line-height: 22px;
  font-size: 0.9rem;
 color: #041931;
}

/* Responsive */
@media (max-width: 768px) {
  .skills h2,
  .services h2 {
    font-size: 2rem;
  }

  .service {
    width: 100%;
  }
}





/* Contact Section */
.contact-section {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1305px;
    height: 90vh;
    background-color: #fff;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    position: relative;
}

/* Form Section */
.form-field {
    width: 50%;
    display: flex;
    flex-direction: column;
    margin-top: 35px;
    padding-left: 100px;
}

.form-field h1 {
    color: #0d1b2a;
    font-size: 3rem;
}

.Contact-Form {
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin-top: 34px;
}

.input, textarea {
    background-color: #e3d1d112;
    border: 2px;
    border-bottom: 1px solid #3e3a3a;
    font-size: 1rem;
    padding: 8px 5px;
    outline: none;
    width: 80%;
}

textarea {
    resize: none;
}

label {
    font-size: 1rem;
    text-transform: uppercase;
    color: #1b1a1a;
    letter-spacing: 1px;
}
b{
  color: red;
  padding-left: 10px;
  font-size: 1.1rem;
  font-weight: bold;
}
.submit-button {
    height: 50px;
    width: 130px;
    background-color: #080f2c;
    margin-left: 180px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode';
    font-size: 1.5rem;
    color: #f2f2f2;
    cursor: pointer;
    transition: transform 0.1s ease;
}

.submit-button:hover {
    transform: translateX(4px);
    box-shadow: 0 0 10px #5f6891;
    background-color: #cbdff3;
    color: #171e5e;
    font-weight: bold;
    border: 2px solid #312a58af;
}


.info-wrapper {
    position: absolute; 
    right: 0; 
    width: 40%; 
    height: 70%; 
    background-color: #112a46; 
    margin-top: 83px;
    display: flex;
    align-items: flex-start; 
    justify-content: flex-start; 
    padding: 30px;
    z-index: 10;
    flex-direction: column;
}

.info-container {
    width: 100%;
    display: flex;
    flex-direction: row; /* Place items side by side */
    align-items: center; /* Align items vertically centered */
    gap: 20px; /* Add space between icon and info */
}

.icons {
    display: flex;
    flex-direction: column; /* Stack icons vertically */
    gap: 20px; /* Add spacing between icons */
    align-items: center; /* Center the icons horizontally */
    justify-content: flex-start;
    margin-top: -13px;
}

.icons img {
    width: 30px; /* Adjust icon size */
    height: 30px;
}

.info-content {
    line-height: 2.2;
    width: 80%;
    padding: 20px;
    border-radius: 8px;
    
}

.info-wrapper h3 {
    font-size: 4rem;
    margin-left: 30px;
    display: flex;
    align-items: left;
    justify-content: left;
    
}

.info-container p {
    
    font-size: 16px;
    margin-bottom: 15px;
}
.info-container a {
    text-decoration: none;
    color: white;
}
.empty-section {
     position: absolute; right: 0; 
      top: 0; width: 200px; 
       height: 100%; 
        background-color: #4e87a5;
         z-index: 5;
        }

/* Responsive Fixes */
@media (max-width: 1024px) {
    .contact-section {
        flex-direction: column; /* stack form & info */
        height: auto; /* allow natural height */
    }

    .form-field {
        width: 100%;
        margin-left: 0;
        padding-left: 120px;
    }

    .form-field h1 {
        font-size: 2.2rem;
        text-align: center;
    }

    .Contact-Form {
        width: 100%;
        align-items: left;
       
    }


    .input, textarea {
        width: 70%; /* full width on smaller screens */
    }

    .submit-button {
        margin: 0 auto; /* center button */
        display: block;
    }

    .info-wrapper {
        position: relative;
        width: 100%;
        margin-top: 30px;
        height: auto;
        padding: 20px;
        
    }

    .info-wrapper h3 {
        font-size: 2.5rem;
        margin-left: 0;
        text-align: center;
    }

    .info-container {
        flex-direction: column;
        align-items: flex-start;
        margin-left: 60px;
    }

    .icons {
        display: flex;
        flex-direction: column;
        gap: 15px;
        margin: 10px 0;
        margin-left: -60px;
    }

    .info-content {
        width: 100%;
        padding: 0;
        margin-top: -194px;
    }


    .empty-section {
        display: none; /* hide on mobile */
    }
}

@media (max-width: 480px) {
  

    .form-field {
        width: 100%;
        
        padding: 20px;
    }
    .form-field h1 {
        font-size: 1.8rem;
    }

    .info-wrapper h3 {
        font-size: 2rem;
    }

    .info-container p {
        font-size: 14px;
    }

    .submit-button {
        width: 45%;
        font-size: 1.2rem;
    }
}
/* Popup Background */

  .popup {
  display: none; /* hidden by default */
  position: fixed; /* stays in place */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6); /* dark overlay */
  justify-content: center;
  align-items: center;
  z-index: 9999; /* bring in front of everything */
}

.popup-content {
  background: #fff;
  padding: 20px;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
  animation: popIn 0.3s ease;
}


.popup-content h2 {
  margin-bottom: 10px;
  color: #1f78ff;
}

.popup-content p {
  margin-bottom: 15px;
  font-size: 16px;
  color: #041931;
}

.popup-content button {
  background: #1f78ff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s;
}

.popup-content button:hover {
  background: #155fcc;
}

/* Animation */
@keyframes popIn {
  from {
    transform: scale(0.8);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
@media (max-width: 480px) {
 
  .popup-content {
  

  
  
  width: 60%;
  height: 33%;
  
}
}